/* Sidebar container */
.sidebar-container {
    flex: 0 0 100%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Main content container */
  .content-container {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: 100%;
  }
  
  /* Map container */
  .map-container {
    flex: 1 1 50%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    height: 70vh;
    margin-right: 5px;
  }
  
  /* Chart container */
  .chart-container {
    flex: 1 1 50%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    max-height: 70vh;
    min-height: 70vh;
    display: block;
    position: relative;
    text-align: center;
  }
  
  /* Inner chart container */
  .chart-inner-container {
    flex: 0 0 100%;
    padding: 10px;
  }
  
  /* No trend selected message */
  .no-trend-selected {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }
  
  .exclamation-icon {
    color: red;
    font-size: 48px;
  }
  
  .no-trend-text {
    margin-top: 10px;
  }
  
  /* Button container */
  .button-container {
    position: absolute;
    bottom: 10px;
    right: 50%;
    transform: translateX(50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  /* Action button */
  .action-button {
    background-color: #005BA6;
    border-radius: 5px;
    color: #fff;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 150px;
    font-size: 14px;
  }
  