.sidebar-container {
  flex: 0 0 100%;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.content-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 100%;
}

.map-container {
  flex: 1 1 40%;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
  height: 72vh;
  margin-right: 5px;
}

.chart-container {
  flex: 1 1 60%;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 0px 20px;
  box-sizing: border-box;
  max-height: 72vh;
  min-height: 72vh;
  display: block;
  position: relative;
  text-align: center;
}

.chart-inner-container {
  flex: 0 0 100%;
  padding: 10px;
}

.no-trend-selected {
  padding-bottom: 20px;
  text-align: center;
}

.exclamation-icon {
  color: red;
  font-size: 48px;
}

.no-trend-text {
  margin-top: 10px;
}

.button-container {
  position: absolute;
  bottom: 10px;
  right: 50%;
  transform: translateX(50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.action-button {
  background-color: #005BA6;
  border-radius: 5px;
  color: #fff;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 150px;
  font-size: 14px;
}